.primaryButton {
  color: #fff;
  background: var(--color-primary);
  outline-color: var(--color-primary);

  border: 0;
  padding: 14px 48px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  gap: 10px;

  i {
    font-size: 1.5rem;
  }

  transition-duration: 0.2s;

  &:hover {
    background-color: #490b75;
  }
}
