<!-- <header>
  <nav>
    <li><a routerLink="/transactions">Movimentações</a></li>
    <li><a routerLink="/new-transaction">Nova transação</a></li>
    <li><a>Perfil</a></li>
    <li><a (click)="logout()">Sair</a></li>
  </nav>
</header> -->

<div class="dock">
  <div class="container">
    <button>
      <img src="../icons/home.svg" alt="Transações" />
      <span>Inicio</span>
    </button>
    <button>
      <img src="../icons/categories.svg" alt="Transações" />
      <span>Categorias</span>
    </button>
    <button>
      <img src="../icons/transactions.svg" alt="Transações" />
      <span>Transações</span>
    </button>
    <button>
      <img src="../icons/logout.svg" alt="Sair" />
      <span>Sair</span>
    </button>
  </div>
</div>
