.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  max-width: 800px;
  width: 100%;
  min-height: 50vh;

  border-radius: 14px;
  display: flex;

  box-shadow: 0px 20px 54px rgba(130, 10, 209, 0.12);
}

.aside-form {
  width: 50%;

  padding: 28px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aside-bg {
  width: 50%;
  margin: 10px;
  border-radius: 14px;
  display: grid;
  place-items: center;
  overflow: hidden;
  background: var(--gradient);

  img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 28px;

  h1,
  i {
    font-size: 40px;
  }

  i {
    color: var(--color-primary);
  }

  h1 {
    color: #9173d8be;
    font-weight: 600;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 8px;

  color: #777171;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-muted);
  margin-bottom: 28px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 38px;
  }

  label {
    font-size: 18px;
    color: #777171;
    font-weight: 400;

    &.error {
      color: #ea4335 !important;
    }
  }

  input {
    border: 1px solid var(--color-border);
    border-radius: 6px;
    outline-color: var(--color-primary);

    color: #777171;

    height: 48px;
    padding: 0 14px;

    &.error {
      border-color: #ea4335;
    }
  }
  .input-error {
    font-size: 14px;
    color: #ea4335;
  }
  .forgotPassword {
    color: var(--color-muted);
    margin-top: 4px;

    transition-duration: 0.2s;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  a {
    img {
      width: 48px;

      transition-duration: 0.2s;

      &:hover {
        filter: brightness(70%);
      }
    }
  }
}

.link-register {
  color: #4f4f4f;
  font-size: 15px;
  display: block;
  margin-top: 28px;

  a {
    text-decoration: none;
    color: var(--color-primary);

    transition-duration: 0.2s;

    &:hover {
      filter: grayscale(50%);
    }
  }
}

@media (width <= 730px) {
  .aside-form {
    width: 60%;
  }
  .aside-bg {
    width: 40%;
  }
}

@media (width <= 490px) {
  .aside-form {
    width: 100%;
  }
  .aside-bg {
    display: none;
  }
}
