<div class="container">
  <div class="logo logo-mobile">
    <i class="fa-solid fa-chart-simple fa-bounce"></i>
    <h1>Finance</h1>
  </div>
  <div class="card">
    <aside class="aside-form">
      <h2 class="title">Entrar</h2>
      <h3>Entre com suas credenciais</h3>
      <form [formGroup]="userForm">
        <div class="input-group">
          <label class="{{ inputError.error && inputError.input == 'email' ? 'error' : '' }}"
            >Seu email</label
          >
          <input
            class="{{ inputError.error || inputError.input == 'email' ? 'error' : '' }}"
            type="email"
            placeholder="Digite seu email"
            formControlName="email"
          />
          @if (inputError.error && inputError.input == 'email') {
          <span class="input-error">{{ inputError.message }}</span>
          }
        </div>
        <div class="input-group">
          <label class="{{ inputError.error && inputError.input == 'password' ? 'error' : '' }}"
            >Sua senha</label
          >
          <input
            class="{{ inputError.error && inputError.input == 'password' ? 'error' : '' }}"
            type="password"
            placeholder="Digite sua senha"
            formControlName="password"
          />
          @if (inputError.error && (inputError.input == 'password'||inputError.input == 'login') ) {
          <span class="input-error">{{ inputError.message }}</span>
          }
          <a class="forgotPassword">Esqueci minha senha</a>
        </div>
        <div class="login-options">
          <app-primary-button
            iconClass="fa-solid fa-right-to-bracket"
            (click)="login()"
            textPrimaryButton="Entrar"
          ></app-primary-button>
          <a class="login-facebook">
            <img src="./icons-login/facebook.svg" alt="facebook" title="Entre com o facebook" />
          </a>
          <a class="login-google">
            <img src="./icons-login/google.svg" alt="google" title="Entre com o google" />
          </a>
        </div>
      </form>
    </aside>
    <aside class="aside-bg">
      <img src="bg-login.svg" />
    </aside>
  </div>
  <span class="link-register"
    >Ainda não possui uma conta? <a routerLink="/signup">Cadastre-se!</a></span
  >
</div>
