.container {
  display: grid;
  align-items: center;
  justify-content: start;
  margin: 20px;
}

table {
  width: 100%;
  border-spacing: 0 0.5rem;
  border-radius: 8px;
  box-shadow: 0px 20px 54px rgba(130, 10, 209, 0.12);
  background: rgba(255, 255, 255, 0.5);

  th {
    font-weight: 600;
    padding: 12px 32px;
    text-align: left;
    line-height: 24px;
  }

  td {
    padding: 12px 32px;
  }
  .expense {
    color: #ea4335;
  }
  .income {
    color: #2ecc71;
  }

  .options {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 12px;

    a {
      font-size: 18px;

      i:hover {
        opacity: 70%;
        scale: 1.1;
      }

      .edit-icon {
        color: var(--color-primary);
      }
      .trash-icon {
        color: #ea4335;
      }
    }
  }
}
